/* css reset  */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}
body {
  padding: 8%;
}
/* header  */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  justify-content: space-between;
}
#header_content {
}
#header_content h1 {
  font-size: 3rem;
  color: hsl(300, 43%, 22%);
}
#header_content p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  padding-top: 16px;
}

#rating_section {
  /* border: 2px solid red; */
}
#rating_section .rating {
  width: 75%;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  padding: 1rem 2rem;
  margin: 1rem 0rem;
  border-radius: 12px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  justify-content: flex-start;
}
#rating_section .rating h1 {
  /* transform: translateX(2rem); */
  color: hsl(300, 43%, 22%);
}
#rating_section > :nth-child(2) {
  transform: translateX(3rem);
}
#rating_section > :nth-child(3) {
  transform: translateX(6rem);
}

/* utility classes */
h1 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
}
p {
  font-weight: 400;
}
