/* css reset  */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Spartan", sans-serif;
}
body {
  padding: 8%;
}
/* header  */
header {
  display: flex;
  justify-content: space-between;
}
header #header_content {
  width: 50%;
}
header #header_content h1 {
  font-size: 3rem;
}
/* utility classes */
h1 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
}
p {
  font-weight: 400;
}
